<%= title "Job Queue", do -%>

	<%= render :partial => 'settings/menu' %>
	
<%- end -%>

<div id="jobs" class='grid_12 page boxit'>

	<table>
	  <tr>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @jobs.each do |job| %>
	  <tr>
	    <td><%= link_to 'Show', job %></td>
	    <td><%= link_to 'Edit', edit_job_path(job) %></td>
	    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Job', new_job_path %>

</div>
