<tr id='user_<%= user.id %>' class='user' data-user-id='<%= user.id %>'>
	
	<% if current_user.id == user.id %>
		
		<td class='first' data-user='<%= user.id %>'><%= check_box_tag :disabled, 1, user.admin, :disabled => 'disabled' %></td>
		<td class='' data-user='<%= user.id %>'><%= check_box_tag :disabled, 1, user.admin, :disabled => 'disabled' %></td>
	
	<% else %>
	
		<td class='enabled first' data-user='<%= user.id %>'><%= check_box_tag :enabled, 1, user.enabled %></td>
		<td class='admin' data-user='<%= user.id %>'><%= check_box_tag :admin, 1, user.admin %></td>
		
	<% end %>
	
	<td class='name' data-user-id='<%= user.id %>'><%= image_tag(get_gravatar_uri(user.email), :size => '16x16', :class => 'avatar-small') %> <%= user.name %></td>
	<td class='email'><%= user.email %></td>
	<td class='email'><%= number_with_delimiter user.sign_in_count %></td>
	<td class='last_sign_in_ip'><%= !user.last_sign_in_ip.blank? ? user.last_sign_in_ip : 'N/A' %></td>
	<td class='last_sign_in_at'><%= !user.last_sign_in_at.blank? ? user.last_sign_in_at.strftime('%m/%d/%Y %l:%M %p') : Time.now.strftime('%m/%d/%Y %l:%M %p') %></td>
	<td class='last'><%= link_to image_tag("icons/destroy.png", :size => '16x16', :class => 'trash'), remove_users_path(:id => user), :method => :delete, :confirm => "Are you sure you want to remove #{user.name}?" %></td>
</tr>
