<tr id='user_<%= user.id %>' class='user' data-user-id='<%= user.id %>'>
	<td class='id first'><%= user.id %></td>
	<td class='name' data-user-id='<%= user.id %>'><%= user.name %></td>
	<td class='email'><%= user.email %></td>
	<td class='admin'><%= user.admin %></td>
	<td class='last_sign_in_ip'><%= !user.last_sign_in_ip.blank? ? user.last_sign_in_ip : 'N/A' %></td>
	<td class='last_sign_in_at last'><%= !user.last_sign_in_at.blank? ? user.last_sign_in_at.strftime('%m/%d/%Y %l:%M %p') : Time.now.strftime('%m/%d/%Y %l:%M %p')	 %></td>
</tr>