<li data-signature-id="<%= event.signature.sig_sid.to_i %>" data-agent-id="<%= event.sensor.sid %>" data-session-id="<%= event.ip.ip_src %>_<%= event.ip.ip_dst %>_<%= event.signature.sig_id %>" id='event_<%= event.sid %><%= event.cid %>' class='event' data-event-id='<%= event.id %>' data-event-sid='<%= event.sid %>' data-event-cid='<%= event.cid %>'>
	
	<% classification_css = event.classification.blank? ? nil : "classified" %>
	
  <div class='row <%= classification_css %> <%= 'geoip' if geoip? %> <%= 'sessions' if @session_view %>'>		

		<div class='select small'><%= check_box_tag 'event-selector', nil, false, :class => "check_box_#{event.id}" %></div>

    <div class='important small'>
      <% if event.favorite? %>
        <div class='destroy-favorite enabled'></div>
      <% else %>
        <div class='create-favorite enabled'></div>
      <% end %>
    </div>
		
		<div class='severity small'><span class='severity sev<%= event.signature.severity_id || 0 %>'><%= event.signature.severity_id || 0 %></span></div>
    <div class='click sensor' title="<%= event.sensor.sensor_name %>">
      <%= event.sensor.sensor_name %>
    </div>
		
    <div data-address="<%= event.ip.present? ? event.ip.ip_src : 'N/A' %>" class='click src_ip address'>
      <% if geoip? && event.ip.present?  %>

        <% geoip_src = event.ip.geoip[:source] %>

        <div class='click country_flag add_tipsy_html' original-title='<img class="flag" src="<%= Snorby::CONFIG[:baseuri] %>/images/flags/<%= geoip_src[:country_code2].downcase %>.png">
          <%= geoip_src[:country_name] %>'><%= geoip_src[:country_code2] %>
        </div>

      <% end %>

      <% if event.ip.present? && event.ip.asset_names[:source] %>
        <div class='asset-name add_tipsy_html click' original-title="<%= event.ip.present? ? event.ip.ip_src : 'N/A' %> - <%= event.ip.asset_names[:source].name %>">
          <%= event.ip.asset_names[:source].name %>
        </div>
      <% else %>
        <div class='asset-name click'>
          <%= event.ip.present? ? event.ip.ip_src : 'N/A' %>
        </div>
      <% end %>
		</div>
		
		<div data-address="<%= event.ip.present? ? event.ip.ip_dst : 'N/A' %>" class='click dst_ip address'>
      <% if geoip? && event.ip.present? %>

        <% geoip_dest = event.ip.geoip[:destination] %>
        <div class='click country_flag add_tipsy_html' original-title='<img class="flag" src="<%= Snorby::CONFIG[:baseuri] %>/images/flags/<%= geoip_dest[:country_code2].downcase  %>.png"> <%= geoip_dest[:country_name] %>'><%= geoip_dest[:country_code2] %></div>

      <% end %>
      <% if event.ip.present? && event.ip.asset_names[:destination] %>
        <div class='asset-name add_tipsy_html click' original-title="<%= event.ip.present? ? event.ip.ip_dst : 'N/A' %> - <%= event.ip.asset_names[:destination].name %>">
          <%= event.ip.asset_names[:destination].name %>
        </div>
      <% else %>
        <div class='asset-name click'>
          <%= event.ip.present? ? event.ip.ip_dst : 'N/A' %>
        </div>
      <% end %>

		</div>
		
		<% if classification_css %>
      <div class='click signature'>
        <span class='add_tipsy' title="<%= event.user.nil? ? '???' : event.user.name %> classified event as <%= event.classification.name %>">
          <%= event.signature.name %>
        </span>
      </div>
		<% else %>
      <div class='click signature'>
        <span title='<%= event.signature.name %>'>
          <%= event.signature.name %>
        </span>
      </div>
		<% end %>
		
		<div class='click timestamp'>
			<% if event.notes_count > 0 %>
				<span title="This event has <%= pluralize(event.notes_count, 'note') %>" class='add_tipsy round notes-count'><%= image_tag("icons/notes.png", :size => '16x16') %></span>
			<% end %>
			
      <b title='Event ID: <%= event.sid %>.<%= event.cid %> &nbsp; <%= display_time(event.timestamp) %>' class='add_tipsy'><%= event.pretty_time %></b>
		</div>


    <% if @session_view %>
      <div class="click session-count" data-sessions="<%= event.number_of_events %>">
        <span><%= number_with_delimiter event.number_of_events %></span>
      </div>
    <% end %>
		
	</div>
	
	<div style='display:none;' class='event-data' data='false'></div>

</li>
