<tr id='event_<%= event.sid + event.cid %>' class='event' data-event-sid='<%= event.sid %>' data-event-cid='<%= event.cid %>'>
	<td class='sensor'><%= event.sensor.hostname %></td>
	<td class='severity'><%= event.signature.sig_priority %></td>
	<td class='src_ip'><%= event.src_ip %></td>
	<td class='src_port'><%= event.src_port %></td>
	<td class='dst_ip'><%= event.dst_ip %></td>
	<td class='dst_port'><%= event.dst_port %></td>
	<td class='signature'><%= event.signature.sig_name %></td>
</tr>