<%= drop_down_for('Classify Event(s)', 'icons/actions.png', 'incident') do %>
	<% Classification.all.each do |cls| %>
		<%= drop_down_item "#{cls.name}<span class='shortcut'>#{cls.shortcut}</span>", '#', nil, { :class => 'classification', :"data-classification-id" => cls.id.to_i } %>
	<% end %>
<% end %>

<%= drop_down_for('Export', 'icons/export.png', 'export') do %>
	<%= drop_down_item "Export JSON" %>
	<%= drop_down_item "Export XML" %>
	<%= drop_down_item "Export CSV" %>
<% end %>