<div id='notes_<%= @event.id %>' class='notes plus'>
	
	<%= render @notes %>
	
	<div id='new_note' style='display:none;' class='fake_form' data-event-sid='<%= @event.sid %>' data-event-cid='<%= @event.cid %>'>
		<%= text_area_tag :body %>
		
		<%= form_actions do %>
			<%= button "Submit Note", :class => 'submit_new_note' %>
		<% end %>
		
	</div>
	
</div>