<div class='event-data-holder'>
	<div class='event-data-holder-inside'>

		<%= render :partial => 'events/ip' %>
		
		<%= render :partial => 'events/signature' %>
		
		<% if @event.tcp? %>
			<%= render :partial => 'events/tcp' %>
		<% elsif @event.udp? %>
			<%= render :partial => 'events/udp' %>
		<% else %>
			<%= render :partial => 'events/icmp' %>
		<% end %>
		
		<div class='section-title plus'>Payload</div>
		
		<% if @event.payload %>
			<div class='payload-ascii plus' style=''><pre><%= @event.payload.to_ascii %></pre></div>

			<div class='payload plus'><pre><%= @event.payload.to_html %></pre></div>
			
		<% else %>
		
			<div class='payload plus no-overflow' style='padding:10px;overflow: hidden;'>No Payload Data Available</div>
		
		<% end %>
		
		<div class='section-title plus'>Notes</div>
		
		<%= render :partial => 'events/notes' %>
		
	</div>
	
</div>