<div class='event-data-holder'>
	<div class='event-data-holder-inside'>

		<%= render :partial => 'events/ip' %>
		
		<% if @event.tcp? %>
			<%= render :partial => 'events/tcp' %>
		<% elsif @event.udp? %>
			<%= render :partial => 'events/udp' %>
		<% else %>
			<%= render :partial => 'events/icmp' %>
		<% end %>
		
		<div class='section-title plus'>Payload</div>
		
		<div class='payload-ascii plus' style='display:none;'><pre><%= @event.payload.to_s %></pre></div>
		
		<div class='payload plus'><pre><%= @event.payload.to_html %></pre></div>
		
		<div class='section-title plus'>Notes</div>
		
	</div>
	
	<div id='notes_<%= @event.id %>' class='notes'>
		
		<%= render @notes %>
		
		<div id='new_note' class='fake_form' data-event-sid='<%= @event.sid %>' data-event-cid='<%= @event.cid %>'>
			<%= text_field_tag :body %>
			
			<%= form_actions do %>
				<%= button "Submit Note", :class => 'submit_new_note' %>
			<% end %>
			
		</div>
		
	</div>
	
</div>