<div class='section-title plus'>TCP Header Information</div>

<div class='proto plus'>

	<table class='default' border='0' cellspacing='0' cellpadding='0'>
		<tr>
			<th class='first'>Src Port</th>
			<th>Dst Port</th>
			<th>Seq</th>
			<th>Ack</th>
			<th>Off</th>
			<th>Res</th>
			<th>Flags</th>
			<th>Win</th>
			<th>Csum</th>
			<th class='last'>URP</th>
		</tr>
		<tbody>
			<tr>
				<td class='first'><%= @event.tcp.tcp_sport %></td>
				<td><%= @event.tcp.tcp_dport %></td>
				<td><%= @event.tcp.tcp_seq %></td>
				<td><%= @event.tcp.tcp_ack %></td>
				<td><%= @event.tcp.tcp_off %></td>
				<td><%= @event.tcp.tcp_res %></td>
				<td><%= @event.tcp.tcp_flags %></td>
				<td><%= @event.tcp.tcp_win %></td>
				<td><%= @event.tcp.tcp_csum %></td>
				<td class='last'><%= @event.tcp.tcp_urp %></td>
			</tr>
		</tbody>
	</table>
	
</div>
