<% content_for :head do %>
	<script type="text/javascript">
		<% unless Event.last.blank? %>
		
			var last_event = <%= Event.last.json_time %>;
			$('div#wrapper').attr({last_event: last_event.time});
		
			setInterval (function () {
				$.get('/events/last', function(data) {
					var old_id = $('div#wrapper').attr('last_event');
					console.log(old_id);
					if (old_id != data.time) {
						$.get('events/since', {timestamp: old_id}, function (data) {
							if (data.events.length != 0) {
								if ($('div.new_events').length == 0) {
									$('#events').prepend('<div class="note new_events">New Events Are Available Click here To View Them.</div>');
								};
								$('#events table tbody.events').prepend(Snorby.templates.event_table(data));
								Snorby.notification({title: 'New Events', text: data.events.length + ' Events Added.'});
							};
						});
						$('div#wrapper').attr('last_event', data.time)
					};
				});
			}, 20000);
		<% end %>
	</script>
	
<% end %>

<% content_for :footer do %>
	<%= render :partial => 'layouts/notify' %>
<% end %>

<%= title "Listing Events", do -%>

	<li>Hello</li>

<%- end -%>

<div id="events" class='grid_12'>
	
	<%= form_tag '/events/select' do %>
	
	<ul class='table'>
		
		<li class='header'>
			
			<div class='small'><%= check_box_tag 'event-select-all', nil, false, :class => 'event-select-all' %></div>
			<div class='small'>&nbsp;</div>
			<div class='small'>Sev.</div>
			<div class='address'>Sensor</div>
			<div class='address'>Source IP</div>
			<div class='address'>Destination IP</div>
			<div class='signature'>Event Signature</div>
			<div class='timestamp'>Timestamp</div>
			
		</li>
		
		<div class='content'>
			<%= render @events %>
		</tbody>
		
	</ul>
	
	<% end %>
	
	<%= will_paginate(@events, :previous_label => 'Prev', :next_label => 'Next' ) %>
	<div class="paginate-info"><%= page_entries_info @events %></div>
	
</div>