<% content_for :footer do %>
	<script type="text/javascript">
		<% unless Event.last.blank? %>
		
			var last_event = <%= Event.last.json_time %>;
			$('div#wrapper').attr({last_event: last_event.time});
		
			setInterval (function () {
				$.get('/events/last', function(data) {
					var old_id = $('div#wrapper').attr('last_event');
					var page = parseInt($('.pager li.active a').html());
					if (old_id != data.time) {
						$.get('events/since', {timestamp: old_id}, function (data) {
							if (data.events.length != 0) {
								
								if ($('div.new_events').length > 0) {
									
									var new_count = parseInt($('#events div.new_events strong.new_event_count').html()) + data.events.length;
									$('#events div.new_events').html('<strong class="new_event_count">'+new_count+'</strong> New Events Are Available Click here To View Them.');
									
								} else {
									
									$('#events').prepend('<div class="note new_events"><strong class="new_event_count">'+data.events.length+'</strong> New Events Are Available Click here To View Them.</div>');
									
								};
								
								console.log(data);
								
								$('#events ul.table div.content').prepend(Snorby.templates.event_table(data));
								
								Snorby.notification({title: 'New Events', text: data.events.length + ' Events Added.'});
							};
						});
						$('div#wrapper').attr('last_event', data.time)
					};
				});
			}, 50000);
		<% end %>
	</script>
	
<% end %>

<% content_for :footer do %>
	<%= render :partial => 'layouts/notify' %>
<% end %>

<%= title "Listing Events <i class='title-page-count'>page #{@events.pager.current_page} of #{@events.pager.total_pages}</i>".html_safe, 'Listing Events' do -%>
	<%= render :partial => 'events/menu' %>
<%- end -%>

<%= render :partial => 'events/events' %>

<%= render :partial => 'events/hotkeys' %>