<% content_for :footer do %>
	<script type="text/javascript">
		<% unless Event.last.blank? %>
		
			var last_event = <%= Event.last.json_time %>;
			$('div#wrapper').attr({last_event: last_event.time});
		
			setInterval (function () {
				$.get('/events/last', function(data) {
					var old_id = $('div#wrapper').attr('last_event');
					var page = <%= params[:page].to_i %>;
					if (old_id != data.time) {
						$.get('events/since', {timestamp: old_id}, function (data) {
							if (data.events.length != 0) {
								if (page <= 1) { 
									if ($('div.new_events').length == 0) {
										$('#events').prepend('<div class="note new_events"><strong>'+data.events.length+'</strong> New Events Are Available Click here To View Them.</div>');
									};
									$('#events ul.table div.content').prepend(Snorby.templates.event_table(data));
								};
								Snorby.notification({title: 'New Events', text: data.events.length + ' Events Added.'});
							};
						});
						$('div#wrapper').attr('last_event', data.time)
					};
				});
			}, 50000);
		<% end %>
	</script>
	
<% end %>

<% content_for :footer do %>
	<%= render :partial => 'layouts/notify' %>
<% end %>

<%= title "Listing Events", do -%>
	<%= render :partial => 'events/menu' %>
<%- end -%>

<%= render :partial => 'events/events' %>