<div class='box-large round'>
	
	<div class='box-large-inside'>
		
		<%= render :partial => 'graph_event.html.erb' %>

		<%= render :partial => 'graph_severity.html.erb' %>
		
		<%= render :partial => 'graph_protocol.html.erb' %>
		
		<%= render :partial => 'graph_signature.html.erb' %>
		
		<%= render :partial => 'graph_source_ips.html.erb' %>
		
		<%= render :partial => 'graph_destination_ips.html.erb' %>
		
		<% if %w(yesterday week last_week month last_month year quarter).include?(params[:range]) %>
			<%= render :partial => 'graph_classification.html.erb' %>
		<% end %>
		
	</div>

</div>