<% javascript 'sparkline', 'highcharts' %>

<%= title "Dashboard" do %>

	<%= drop_down_for('More Options', 'icons/filter.png', 'options') do %>

		<%= drop_down_item "Force Cache Update", '#', nil, { :class => 'dashboard' } %>

	<% end %>

<% end %>

<div id='dashboard' class=''>
	
	<div class='main grid_9'>
		
		<div class='dashboard-menu'>

			<ul>

				<li class='active'><%= link_to "Today", '#' %></li>
				<li><%= link_to "Yesterday", '#' %></li>
				<li><%= link_to "This Week", '#' %></li>
				<li><%= link_to "This Month", '#' %></li>
				<li><%= link_to "Select Range", '#' %></li>
				
				<li class='right'><i>Last Updated: <%= @last_cache.strftime('%D %l:%M:%S %p') %></i></li>

			</ul>

		</div>
		
		<%= render 'severity_dashboard.html.erb' %>
		
		<%# render 'proto_dashboard.html.erb' %>
		
		<%= render 'events_dashboard.html.erb' %>
		
		<%= render 'classification_dashboard.html.erb' %>
		
	</div>
	
	<div class='secondary grid_3 alpha'>
	
		<div class='dashboard-header'>
			<span>Top 5 Sensor</span>
		</div>
		
		<ul class='box-list'>
			<% @sensors.each do |sensor| %>
			<li><%= truncate(sensor.name, :length => 30) %> <span><%= sensor.events_count %></span></li>
			<% end %>
		</ul>
	
		<div class='dashboard-header'>
			<span>Top 5 Active Users</span>
		</div>
		
		<ul class='box-list'>
			<% @favers.each do |user| %>
			<li><%= image_tag(user.avatar.url(:small), :size => '16x16', :class => 'avatar-small') %> <%= truncate(user.name, :length => 30) %> <span><%= user.favorites_count %></span></li>
			<% end %>
		</ul>
		
		<div class='dashboard-header'>
			<span>Recent Uniq Events</span>
		</div>
		
		<ul class='box-list'>
			<% @recent_events.each do |event| %>
			<li><%= truncate(event.signature.name, :length => 25) %> <span><%= event.signature.events_count %></span></li>
			<% end %>
		</ul>
	
		<div class='dashboard-header'>
			<span>Classifications</span>
		</div>
		
		<ul class='box-list'>
			<% @classifications.each do |classification| %>
			
			<li><%= truncate(classification.name, :length => 25) %> <span><%= classification.events_count %></span></li>
			<% end %>
		</ul>
	
	</div>
	
</div>