<% javascript 'sparkline', 'highcharts' %>

<%= title "Dashboard" do %>

	<%= drop_down_for('More Options', 'icons/filter.png', 'options') do %>

		<%= drop_down_item "Export To PDF", dashboard_path(:range => params[:range], :format => :pdf), nil, { :class => 'dashboard' } %>

	<% end %>

<% end %>

<div id='dashboard' class=''>
	
	<div class='main grid_9'>
		
		<div class='dashboard-menu'>

			<ul>
				
				<li class='<%= "active" if params[:range] == 'today' %>'><%= link_to "Today", dashboard_path(:range => :today) %></li>
				<li class='<%= "active" if params[:range] == 'yesterday' %>'><%= link_to "Yesterday", dashboard_path(:range => :yesterday) %></li>
				<li class='<%= "active" if params[:range] == 'week' %>'><%= link_to "This Week", dashboard_path(:range => :week) %></li>
				<li class='<%= "active" if params[:range] == 'month' %>'><%= link_to "This Month", dashboard_path(:range => :month) %></li>
				<li class='<%= "active" if params[:range] == 'quarter' %>'><%= link_to "This Quarter", dashboard_path(:range => :month) %></li>
				<li class='<%= "active" if params[:range] == 'year' %>'><%= link_to "This Year", dashboard_path(:range => :year) %></li>
				
				<% if Snorby::Jobs.caching? %>
					<% content_for :header do %>
						<script type="text/javascript">
							setTimeout(function(){
								location.reload();
							},50000);
						</script>
					<% end %>
					<li class='right'><i>Currently Caching <%= image_tag('icons/pager.gif', :size => '16x11') %></i></li>
				<% else %>
				
					<% unless %w(yesterday week month year).include?(params[:range]) %>
						<li class='right'><i>Last Updated: <%= @last_cache.strftime('%D %l:%M:%S %p') %></i></li>
					<% end %>
					
				<% end %>

			</ul>

		</div>
		
		<div id='box-holder'>
			<%= render 'severity_dashboard.html.erb' %>
		</div>
		
		<%# render 'proto_dashboard.html.erb' %>
		
		<div id="box-tabs">

			<ul id="box-menu">
				<li class='active'><%= link_to "Sensors", '#', :class => 'show_events_graph' %></li>
				<li><%= link_to "Severities", '#', :class => 'show_severities_graph' %></li>
				<li><%= link_to "Protocols", '#', :class => 'show_protocol_graph' %></li>
				<li><%= link_to "Signatures", '#', :class => 'show_signature_graph' %></li>
				
				<li><%= link_to "Sources", '#', :class => 'show_source_ips_graph' %></li>
				<li><%= link_to "Destinations", '#', :class => 'show_destination_ips_graph' %></li>
				
				<% if %w(yesterday week month year).include?(params[:range]) %>
					<li><%= link_to "Analyst Classified", '#', :class => 'show_classification_graph' %></li>
				<% end %>
				
			</ul>

		</div>
		
		<%= render 'graph_dashboard.html.erb' %>
		
	</div>
	
	<div class='secondary grid_3 alpha'>
	
		<div class='dashboard-header'>
			<span>Top 5 Sensor</span>
		</div>
		
		<ul class='box-list'>
			<% @sensors.each do |sensor| %>
			<li><%= link_to truncate(sensor.name, :length => 30), sensor_events_path(:sensor => sensor.sid) %> <span><%= sensor.events_count %></span></li>
			<% end %>
		</ul>
	
		<div class='dashboard-header'>
			<span>Top 5 Active Users</span>
		</div>
		
		<ul class='box-list'>
			<% @favers.each do |user| %>
			<li>
				<%= image_tag(user.avatar.url(:small), :size => '16x16', :class => 'avatar-small') %> 
				<%= link_to truncate(user.name, :length => 30), activity_events_path(:user_id => user.id) %> 
				<span><%= user.favorites_count %></span>
			</li>
			<% end %>
		</ul>
		
		<div class='dashboard-header'>
			<span>Last 5 Unique Events</span>
		</div>
		
		<ul class='box-list'>
			<% @recent_events.each do |event| %>
				<li><%= link_to truncate(event.signature.name, :length => 25), "/events/show/#{event.sid}/#{event.cid}", :class => 'snorbybox' %> <span><%= event.signature.events_count %></span></li>
			<% end %>
		</ul>
	
		<div class='dashboard-header'>
			<span>Analyst Classified Events</span>
		</div>
		
		<ul class='box-list'>
			<% @classifications.each do |classification| %>
			
			<li><%= link_to truncate(classification.name, :length => 25), classification_events_path(:classification => classification.id) %> <span><%= classification.events_count %></span></li>
			<% end %>
		</ul>
	
	</div>
	
</div>