<% javascript 'sparkline', 'highcharts' %>

<%= title "Dashboard" %>

<div id='dashboard' class=''>
	
	<div class='main grid_9'>
		
		<div class='dashboard-menu'>

			<ul>

				<li class='active'><%= link_to "Today", '#' %></li>
				<li><%= link_to "Yesterday", '#' %></li>
				<li><%= link_to "This Week", '#' %></li>
				<li><%= link_to "This Month", '#' %></li>
				<li><%= link_to "Select Range", '#' %></li>

			</ul>

		</div>
		
		<%= render 'page/proto_dashboard' %>
		
		<%= render 'classification_dashboard' %>
		
	</div>
	
	<div class='secondary grid_3 alpha'>
	
		<div class='dashboard-header'>
			<span>Top 5 Sensor</span>
		</div>
		
		<ul class='box-list'>
			<% @sensors.each do |sensor| %>
			<li><%= sensor.name %> <span><%= sensor.events_count %></span></li>
			<% end %>
		</ul>
	
		<div class='dashboard-header'>
			<span>Top 5 Active Users</span>
		</div>
		
		<ul class='box-list'>
			<% @favers.each do |user| %>
			<li><%= image_tag(user.avatar.url(:small), :size => '16x16', :class => 'avatar-small') %> <%= user.name %> <span><%= user.favorites_count %></span></li>
			<% end %>
		</ul>
		
		
		<div class='dashboard-header'>
			<span>Classified Today</span>
		</div>
		
		<ul class='box-list'>
			<% @classifications.each do |classification| %>
			<li><%= classification.name %> <span><%= classification.events_count %></span></li>
			<% end %>
		</ul>
	
	</div>
	
</div>