<%= stylesheet 'jquery' %>
<%= javascript :header, 'daterangepicker' %>

<% content_for :footer do %>

  <script type="text/javascript">
    var rule = new SearchRule(<%= Snorby::Search.json %>);
    rule.add();
    rule.add();
    rule.add();

$('.search-content-add').live('click', function(e) {
    e.preventDefault();
    rule.add(this);
});
$('.search-content-remove').live('click', function(e) {
    e.preventDefault();
    rule.remove(this);
});

$('div.search-content-enable input').live('click', function() {
    if ($(this).is(':checked')) {
      $(this)
      .parents('.search-content-box')
      .find('.value *, .operator-select *, .column-select *')
      .attr('disabled', false).css('opacity', 1);
    } else {
      $(this)
      .parents('.search-content-box')
      .find('.value *, .operator-select *, .column-select *')
      .attr('disabled', true).css('opacity', 0.8);
    };
});

$('button.submit-search').live('click', function(e) {
  e.preventDefault();
  rule.submit();
});

	</script>

<% end %>

<%= title "Snorby Advanced Search" do %>

	<%= drop_down_for('More Options', 'icons/filter.png', 'options') do %>

    <%= drop_down_item "View Saved Searches", '#', nil, {} %>

    <%= drop_down_item "Save Current Search", '#', nil, {} %>

	<% end %>

<% end %>

<div id='search' class='boxit page grid_12'>

  <div class="search-match-box" style='display:;'>
    Match 
    <select class='global-match-setting'>
      <option value='any'>Any</option>
      <option value='all'>All</option>
    </select> 
    of the following rules: 
  </div>

  <div class="rules"></div>


  <div class="other-search-options" style='display:none;'>
    <input name="limit-all-search-rules" type="checkbox"/> 
    Limit to
    <input class="limit-search-results-count" name="limit-search-results-to" type="text" value='10000'/> 
    ordered by
    <select><option value='any'>Event Timestamp</option><option value='all'>All</option></select>
    <br />
    <input name="ignore-classified-events" type="checkbox"/> Ignore all classified events.
  </div>

  <%= form_actions do %>

    <%= button "Submit Search", :class => 'submit-search success' %>

  <% end %>

</div>
