<%= title "General Settings", do -%>

	<%= render :partial => 'settings/menu' %>
	
<%- end -%>

<div id='general-settings', class='grid_12 page boxit'>
	
	<%= form_tag '/settings', :multipart => true, :class => 'basic-form' do %>
	
		<p>
			<%= label_tag 'Organization Name' %><br />
			<%= text_field_tag '[settings][organization]', (Setting.organization ? Setting.find(:organization) : nil), :placeholder => 'Organization Name...', :autocomplete => :off %>
		</p>
		
		<p>
			<%= label_tag "Organization Logo: <i>(#{Setting.logo? ? (link_to 'Current Logo', Setting.find(:logo), :class => 'snorbybox') : 'Please Upload A Logo'})</i>".html_safe %><br />
			<%= file_field_tag '[settings][logo]' %><br />
			<br />
		</p>
		
		<p>
			<%= check_box_tag '[settings][daily]', 1, (Setting.daily ? Setting.find(:daily) : nil) %> <%= label_tag 'Enable Daily Reports' %><br />
		</p>
		
		<p>
			<%= check_box_tag '[settings][weekly]', 1, (Setting.weekly ? Setting.find(:weekly) : nil) %> <%= label_tag 'Enable Weekly Reports' %><br />
		</p>
		
		<p>
			<%= check_box_tag '[settings][monthly]', 1, (Setting.monthly ? Setting.find(:monthly) : nil) %> <%= label_tag 'Enable Monthly Reports' %><br />
		</p>
		
		<p>
			<%= check_box_tag '[settings][lookups]', 1, (Setting.lookups ? Setting.find(:lookups) : nil) %> <%= label_tag 'Allow Address Lookups' %><br />
		</p>
		
		<p>
			<%= check_box_tag '[settings][notes]', 1, Setting.find(:notes) %> <%= label_tag 'Allow Event Notes' %><br />
			<br />
		</p>
	
		<%= form_actions do %>

			<%= button "Save Settings", :class => 'success' %>

			<%= button "Cancel", :class => 'warning cancel' %>

		<% end %>
	
	<% end %>
	
</div>