<%= title "General Settings" do -%>

	<%= render :partial => 'settings/menu' %>
	
<%- end -%>

<div id='general-settings', class='grid_12 page boxit'>
	
	<%= form_tag '/settings', :multipart => true, :class => 'basic-form validate' do %>
	
	
	<div id='form-holder'>
		
		<div class='grid_6'>
			<p>
				<%= label_tag 'Company Name' %><br />
				<%= text_field_tag '[settings][company]', (Setting.company ? Setting.find(:company) : nil), :placeholder => 'Company Name...', :autocomplete => :off, :class => 'required' %>
			</p>

			<p>
				<%= label_tag 'Company Email' %> <i>(this email will be used as the report sender)</i><br />
				<%= text_field_tag '[settings][email]', (Setting.email ? Setting.find(:email) : nil), :placeholder => 'Company Email...', :autocomplete => :off, :class => 'required email' %>
			</p>
			
			<p>
				<%= label_tag 'Signature Lookup URL' %> <i>(user $$sid$$ and $$gid$$ for the get request parameters)</i><br />
				<%= text_field_tag '[settings][signature_lookup]', (Setting.signature_lookup ? Setting.find(:signature_lookup) : nil), :placeholder => 'Signature Lookup URL...', :autocomplete => :off, :class => 'required url' %>
			</p>


		</div>

		<div class='grid_5'>

			<p>
				<%= check_box_tag '[settings][daily]', 1, (Setting.daily ? Setting.find(:daily) : nil) %> <%= label_tag 'Enable Daily Reports' %><br />
				<i>(Send a report summarizing the captured traffic daily.)</i><br />
			</p>

			<p>
				<%= check_box_tag '[settings][weekly]', 1, (Setting.weekly ? Setting.find(:weekly) : nil) %> <%= label_tag 'Enable Weekly Reports' %><br />
				<i>(Send a report summarizing the captured traffic weekly)</i><br />
			</p>

			<p>
				<%= check_box_tag '[settings][monthly]', 1, (Setting.monthly ? Setting.find(:monthly) : nil) %> <%= label_tag 'Enable Monthly Reports' %><br />
				<i>(Send a report summarizing the captured traffic monthly)</i><br />
			</p>

			<p>
				<%= check_box_tag '[settings][lookups]', 1, (Setting.lookups ? Setting.find(:lookups) : nil) %> <%= label_tag 'Allow Address Lookups' %><br />
				<i>(This options enables the analyst to perform basic queries on source & destination addresses using external sources.)</i><br />
			</p>

			<p>
				<%= check_box_tag '[settings][notes]', 1, Setting.find(:notes) %> <%= label_tag 'Allow Event Notes' %><br />
				<i>(Allow analysts to apply notes to events)</i><br />
				<br/>
			</p>

		</div>
		
	</div>	
	
	<%= form_actions do %>

		<%= button "Save Settings", :class => 'success' %>

		<%= button "Cancel", :class => 'warning cancel' %>

	<% end %>
		
	
	<% end %>
	
</div>