<%= form_for(@sensor) do |f| %>



  <div id='packet-capture-settings'>

    <p class='pc-plugin-type'>
      <%= label_tag 'Packet Capture Plugin:' %>
      <%= select_tag '[settings][packet_capture_type]', "<option value='openfpc'>OpenFPC</option><option value='solera'>Solera Networks</option>".html_safe, 
      { :class => 'require', :packet_capture_plugin => Setting.find(:packet_capture_type) } %><br />
    </p>

    <div class='pc-column'>

      <p class='pc-settings'>
        <%= check_box_tag '[settings][packet_capture_auto_auth]', 1, (Setting.packet_capture_auto_auth ? Setting.find(:packet_capture_auto_auth) : nil) %> 
        <%= label_tag 'Packet Capture Auto-Authenticate' %><br />
        <i>(Pass the credentials in the get request)</i><br />
      </p>

      <p class='pc-settings'>
        <%= label_tag 'Packet Capture Extract URL' %> <i>(Packet Capture extract URL)</i><br />
        <%= text_field_tag '[settings][packet_capture_url]', (Setting.packet_capture_url ? Setting.find(:packet_capture_url) : nil), 
        :placeholder => 'Packet Capture Extract URL', :autocomplete => :off, :class => 'url' %>
      </p>

    </div>

    <div class='pc-column'>

      <p class='pc-settings'>
        <%= label_tag 'API User' %> <i>(User name for Packet Capture API)</i><br />
        <%= text_field_tag '[settings][packet_capture_user]', (Setting.packet_capture_user ? Setting.find(:packet_capture_user) : nil), 
        :placeholder => 'Packet Capture User', :autocomplete => :off, :class => '' %>
      </p>

      <p class='pc-settings'>
        <%= label_tag 'API Password' %> <i>(Password for Packet Capture API)</i><br />
        <%= password_field_tag '[settings][packet_capture_password]', (Setting.packet_capture_password ? Setting.find(:packet_capture_password) : nil), 
        :placeholder => 'Packet Capture Password', :autocomplete => :off, :class => '' %>
      </p>

    </div>
    
  </div>


  <%#<div class="note no-cursor">%>
    <%#Custom packet capture configurations will override the global%>
    <%#packet capture configurations in `General Settings`.%>
  <%#</div>%>



<% end %>

<%= snorby_box_footer do %>

  <%= form_actions do %>
    <%= button "Update Sensor", :class => 'success' %>
    <%= button "Cancel", :class => 'warning cancel-snorbybox' %>
  <% end %>

<% end %>


<script type="text/javascript">

  $(function() {

    console.log('HELLO')
    $('form#edit_sensor_2').validate();

  });

</script>
