<tr id='sensor_<%= sensor.sid %>' class='sensor' data-sensor-id='<%= sensor.sid %>'>
	<td class='id first'><%= sensor.sid %></td>
	
	<td class='name <%= "edit-sensor-name" if current_user.admin %>' data-sensor-id='<%= sensor.sid %>'><%= sensor.name %></td>
	
	<td class='hostname'><%= sensor.hostname %></td>
	<td class='interface'><%= sensor.interface %></td>
	
	<% if sensor.last %>
		<td class='last_event_time'><%= sensor.last.timestamp.strftime('%m/%d/%Y %l:%M %p') %></td>
	<% else %>
		<td class='last_event_time'>N/A</td>
	<% end %>
	
	<td class='event_count'><%= sensor.events_count %></td>
	
	<td class='chart'>
		<%= css_chart(sensor.event_percentage) %>
	</td>
	
	<td class='last'><%= link_to 'View', results_path(:title => "#{sensor.sensor_name}", :search => { :sid => sensor.sid }) %></td>
	
</tr>