<tr id='sensor_<%= sensor.sid %>' class='sensor' data-sensor-id='<%= sensor.sid %>'>
	<td class='id first'><%= sensor.sid %></td>
	<td class='name'><%= sensor.name %></td>
	<td class='hostname'><%= sensor.hostname %></td>
	<td class='interface'><%= sensor.interface %></td>
	<td class='event_count last'><%= sensor.events.count %></td>
</tr>