<div id='classification-form' class='grid_12 boxit page'>
	<%= form_for @classification, :html => { :class => 'validate' } do |f| %>
	  
		<%= error_messages_for(@classification) %>
	
		<p>
			<%= f.label 'Classification Name' %><br />
	  	<%= f.text_field :name, :class => 'required', :placeholder => 'Example: Web Attacks', :autocomplete => :off %>
		</p>
		
		<p>
			<%= f.label 'Classification Description' %><br />
	  	<%= f.text_area :description, :class => 'required', :placeholder => 'Description', :autocomplete => :off %>
		</p>
	
		<%= form_actions do %>

			<%= button "Save Classification", :class => 'success' %>

			<%= button "Cancel", :class => 'warning cancel' %>

		<% end %>
	
	<% end %>
	
</div>
