<%= title "Change your password" -%>

<div id='signin' class='grid_12 page boxit'>
	
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'validate' }) do |f| %>
	  <%= f.hidden_field :reset_password_token %>

	  <p><%= f.label :password %>
	  <%= f.password_field :password, :placeholder => 'P@ssw0rd', :autocomplete => :off, :class => 'required password' %></p>

	  <p><%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation, :placeholder => 'P@ssw0rd', :autocomplete => :off, :class => 'required password' %></p>

		<%= form_actions do %>

			<%= button "Change my password", :class => 'success' %>
      <%= button "Cancel", :class => 'warning cancel' %>

		<% end %>

	<% end %>
	
</div>
