<%= title "Change your password" -%>

<div id='password' class='grid_12 page boxit'>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <p><%= f.label :password %><br />
	  <%= f.password_field :password %></p>

	  <p><%= f.label :password_confirmation %><br />
	  <%= f.password_field :password_confirmation %></p>

		<%= form_actions do %>

			<%= button "Change my password", :class => 'success' %>

		<% end %>

	<% end %>
	
</div>