<%= title "Forgot your password?" -%>

<div id='password' class='grid_12 page boxit'>
	
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'validate' }) do |f| %>
	  <%= devise_error_messages! %>

	  <p><%= f.label :email %><br />
	  <%= f.text_field :email, :title => 'E-mail...', :autocomplete => :off, :class => 'required email' %></p>

		<%= form_actions do %>
		
			<%= button "Send me reset password instructions", :class => 'success' %>
		
		<% end %>
	<% end %>
	
</div>