<% content_for :footer do %>
	<script type="text/javascript">
		$('#severity-color-bg div').css('backgroundColor', $('input#severity_bg_color').attr('value'));
		$('#severity-color-text div').css('backgroundColor', $('input#severity_text_color').attr('value'));
	</script>
<% end %>

<%= simple_form_for @severity do |f| %>
  <%= f.input :name %>
	<%= f.input :sig_id %>
	
	<div id='severity-color-bg'><div></div></div>
	<div id='severity-color-text'><div></div></div>
		
  <%= f.input :bg_color, :as => :hidden %>
  <%= f.input :text_color, :as => :hidden %>
  <%= f.button :submit %>
<% end %>

