<tr>
	
	<td class='first'><%= severity.sig_id %></td>
	<td><%= severity.name %></td>
	<td><%= severity.bg_color %></td>
	<td><%= severity.text_color %></td>
	<td><span class='severity-example' style='background-color:<%= severity.bg_color %>;color:<%= severity.text_color %>'><%= severity.sig_id %></span></td>
	<td><%= link_to "Edit", edit_severity_path(severity) %></td>
	<td class='last'><%= link_to "Destroy", severity_path(severity), :method => :delete %></td>
</tr>