<%= title "Severity Settings", do -%>
	
	<li>&nbsp;</li>
	<li><%= link_to "#{image_tag('icons/add.png')} Add Severity".html_safe, new_severity_path %></li>
	<%= render :partial => 'settings/menu' %>
	
<%- end -%>

<div id="severities" class='grid_12 page'>
	
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>		
			<th>ID</th>
			<th>Name</th>
			<th>Background</th>
			<th>Text</th>
			<th>Signature Count</th>
			<th>Example</th>
			<th>Edit</th>
			<th>Destroy</th>
		</tr>
		<tbody class='sensors'>
			<%= render @severities %>
		</tbody>
	</table>


	<%= pager(@severities, '/severities') %>
	
</div>
