<div id="header">
	<div id="header-inside">
		<div id="header-content">
			<div id="header-top" class='container_12'>
				
				<div id="logo" class='grid_6'>
					<%= link_to "Snorby", root_path %>
				</div>
				
				<div id="user-menu" class=''>
					
					<ul>
						<% if user_signed_in? %>
							
							<li class='first'>Welcome <%= current_user.name %></li>
							<li><%= link_to 'Settings', edit_user_registration_path %></li>
							<li class='last'><%= link_to 'Log out', logout_path %></li>
							
						<% else %>
						
							<li class='first'><%= link_to 'Log In' %></li>
							<li><%= link_to 'Forgot Password?' %></li>
							<li class='last'><%= link_to 'Request Access' %></li>
							
						<% end %>				
					</ul>
					
				</div>
				
			</div>
		</div>
		
		<div id="menu">

			<ul class='container_12'>

				<% if user_signed_in? %>
					<li class='blank first'></li>
					<li><%= link_to "Dashboard", dashboard_path %></li>
					<li><%= link_to "My Queue (<span class='queue-count'>#{current_user.events.count}</span>)".html_safe, queue_events_path %></li>
					<li><%= link_to "Events", events_path %></li>
					<li><%= link_to "Sensors", sensors_path %></li>
					<li><%= link_to "Search", '' %></li>
					<li class='blank last'></li>

					<% if current_user.admin %>
						<li class='administration right'><%= link_to "Administration", settings_path %></li>
					<% end %>
					
				<% end %>
				
			</ul>

		</div>
		
	</div>
</div>