<!DOCTYPE html>

<html>
  <head>
    
		<title><%= content_for?(:title) ? yield(:title) : "Snorby #{Snorby::VERSION}" %></title>

    <%= stylesheet_link_tag "snorby" %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'snorby' %>
    <%= csrf_meta_tag %>
    
		<%= yield(:head) %>

  </head>
  
	<body>
		
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
    </div>

		<%= yield(:head) %>
  </body>

</html>
