<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    
		<title><%= content_for?(:title) ? yield(:title) : "Snorby #{Snorby::VERSION}" %></title>

    <%= stylesheet_link_tag 'grid', 'snorby' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'snorby' %>
    <%= csrf_meta_tag %>

		<%= yield(:head) %>

  </head>
  
	<body>
		
		<%= render :partial => 'layouts/header' %>

		<%= render :partial => 'layouts/content' %>

		<%= render :partial => 'layouts/footer' %>
		
		<%= yield(:footer) %>
  </body>

</html>
