<!DOCTYPE html>

<html>
	
	<head>
		
		<%= stylesheet_link_tag 'pdf' %>

		<%= yield(:header) %>
		
	</head>
	
	<body>
		
		<div id='header'>
			
			<% if Setting.logo? %>
			 <%= image_tag(Setting.find(:logo), :size => '800x90') %>
			<% end %>
			
		</div>
		
		<div id="wrapper">

			<div id="content" class='shadow container_12'>

		    <%= yield %>

			</div>

		</div>
		
		<%= yield(:footer) %>
	</body>
	
</html>