<!DOCTYPE html>

<html>
	
	<head>
		<% @severities ||= Severity.all %>

		<script type="text/javascript">
			<% @severities.each do |sev| %>
				var sev<%= sev.sig_id %>_bg_color = '<%= sev.bg_color %>';
			<% end %>
		</script>

		<%= javascript_include_tag 'jquery', 'sparkline', 'highcharts' %>

		<%= yield(:header) %>

		<style type="text/css">
			<%- @severities.each do |sev| -%>
				ul.table li div.small span.severity.sev<%= sev.sig_id %>{
					background-color: <%= sev.bg_color %>;
					color: <%= sev.text_color %>;
				}
			<%- end -%>
		</style>
		
	</head>
	
	<body>
		
		<div id="wrapper">

			<div id='header'>

				<% if Setting.company? %>
					<h1><%= Setting.find(:company) %></h1>
				<% else %>
					<h1>Snorby Reports</h1>
				<% end %>

				Date: <%= Time.now.strftime('%A %B, %Y at %I:%M %p') %>

				<%= yield(:pdf_header) %>

			</div>

			<div id="content" class='shadow container_12'>

		    <%= yield %>

			</div>

		</div>
		
		<%= yield(:footer) %>
	</body>
	
</html>